<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  <p>
    <span for="img" src="../assets/Groan Zone.png"
    aria-label="Groan Zone background bricks and neon sign"></span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">some button name</button>
  </p>
</div>
