{{!-- <div class="text-center">
  {{#each jokes}}
  <h2>{{jokeSetUp}}</h2>

  <p>{{jokePunchLine}}</p>
  <p>Created by {{user.name}}</p>
  {{/each}}
  <p>
    <button class="btn btn-primary">Submit</button>
  </p>
</div> --}}
{{!above is our code, starting line 16 is chatGPT}}
{{!-- <p>{{jokeSetUp}}</p>
<p>{{jokePunchLine}}</p> --}}

{{#each jokes}}
<div class="joke">
  <h2>{{jokeSetUp}}</h2>
  <p>{{jokePunchLine}}</p>
  <p>Rating: {{jokeRating}}</p>
  <p>Submitted by: {{user.name}}</p>
  <div class="col-md-4">
    <button class="btn btn-sm btn-danger" data-id="{{joke.jokeId}}">DELETE</button>
  </div>
</div>
{{/each}}

<script src="/js/laura-delete-joke.js"></script>