<div class="text-center">
{{#each jokes}}
  <h2>{{jokeSetUp}}</h2>

  <p>{{jokePunchLine}}</p>
  <p>Created by {{user.name}}</p>
{{/each}}
  <p>
    <button class="btn btn-primary">Submit</button>
  </p>
</div>

{{!-- <p>{{jokeSetUp}}</p>
<p>{{jokePunchLine}}</p> --}}